@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500&family=Source+Sans+Pro:wght@300;400;600&display=swap');

$ff-lato: 'Lato', sans-serif;
$ff-open-sans: 'Open Sans', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$ff-roboto-condensed: 'Roboto Condensed', sans-serif;
$ff-open-sans-pro: 'Source Sans Pro', sans-serif;
$ff-kumbh-sans: 'Kumbh Sans', sans-serif;

$color-secondary:#101d2c;